
.headerMenu {
    text-align: right;
}
.titPrincipal {
    padding: 55px;
}
.titSecundario {
    padding: 32px;
}
.colDir {
    padding: 16px;
}
.rodape {
    text-align: center;
    padding: 32px;
}

.btMenu {
    width: 100%;
}



.linkAmarelo {
    color: #ffd100;
    cursor: pointer;
    text-decoration: none;
}
.linkAmarelo:hover {
    color: #ffffff;
    cursor: pointer;
    text-decoration: underline;
}


.cinzaClaroBG {
    background-color: #d6d6d6;
}
.amareloClaroBG {
    background-color: #ffee32;
}
.amareloBG {
    background-color: #ffd100;
}
.cinzaEscuroBG {
    background-color: #202020;
}
.cinzaMedioBG {
    background-color: #333533;
}
.branco {
    color: #ffffff;
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    
    .headerMenu {
        text-align: center;
        padding: 12px;
    }

    .headerLogo {
        text-align: center;
        padding: 12px;
    }
    .titPrincipal {
        padding: 16px;
    }
    .titSecundario {
        padding: 18px;
    }


}